:root {
	--primary-color: ;
	--secondary-color: ;
	--accent-color: ;
}



/* ---------------------
-- CSS FOR DARK THEME --
--------------------- */
@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: ;
		--secondary-color: ;
		--accent-color: ;
	}
}



/* --------------------------------------
-- CSS FOR ALL AND SMARTPHONES SCREENS --
-------------------------------------- */
body {
	background-color: var(--primary-color);
}



/* --------------------------
-- CSS FOR TABLETS SCREENS --
-------------------------- */
@media screen and (min-width:501px) and (max-width:959px) {...}



/* --------------------------
-- CSS FOR DESKTOP SCREENS --
-------------------------- */
@media screen and (min-width:960px) {...}