:root {

	/* ======== COLORS ======== */

	/* general color */
	--hue-color: 240;

	/* background colors */
	--primary-color: hsl(0, 0%, 98%);
	--secondary-color: hsl(var(--hue-color), 80%, 90%);

	/* element colors */
	--accent-color: hsl(var(--hue-color), 85%, 75%);
	--details-color: hsl(var(--hue-color), 71%, 67%);

	/* text colors */
	--title-color: hsl(0, 0%, 10%);
	--secondary-title-color: hsl(0, 0%, 20%);
	--text-color: hsl(0, 0%, 35%);
	--detail-text-color: hsl(0, 0%, 85%);
	--text-on-element-color: var(--primary-color);
}




/* ---------------------
-- CSS FOR DARK THEME --
--------------------- */

@media (prefers-color-scheme: dark) {
	:root {

		/* background colors */
		--primary-color: hsl(245, 4%, 18%);
		--secondary-color: hsl(var(--hue-color), 20%, 35%);

		/* text colors */
		--title-color: hsl(0, 0%, 90%);
		--secondary-title-color: hsl(0, 0%, 80%);
		--text-color: hsl(0, 0%, 65%);
		--detail-text-color: hsl(0, 0%, 30%);
		--text-on-element-color: var(--primary-color);
	}
}




/* --------------------------------------
-- CSS FOR ALL AND SMARTPHONES SCREENS --
-------------------------------------- */

body {
	background-color: var(--primary-color);
}




/* --------------------------
-- CSS FOR TABLETS SCREENS --
-------------------------- */

@media screen and (min-width:501px) and (max-width:959px) {...}




/* --------------------------
-- CSS FOR DESKTOP SCREENS --
-------------------------- */

@media screen and (min-width:960px) {...}